.footer-container{
    width: 100vw;
    position: absolute;
    border: -10;
    bottom: 0;
    height: 5rem;
    right: 0;
    left: 0;
    margin-top: 30rem;
}

.footer-text{
    background-color: #6B8E23;
    margin: 30rem;
    /* left: 0;
    right:0;  */
    text-align: center;
    z-index: 10;
    height: 3em;
    /* margin-bottom: -30rem; */
}